p, ul, h1, h2, h3, h4, h5, h6, a, table {
    font-family: Tahoma, sans-serif;
}

p, ul, a {
    font-size: 14px;
    margin: 0px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size:24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size:18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.bold {
    font-weight: bold;
}

.example_blocks {
    display:flex;
    border:1px solid black;
    width:100px;
    height:100px;
    padding: 10px;
}

#left_column {
    height: 100vh;
}

#left_column nav {
    position: fixed;
    overflow-y: scroll;
    height: 100vh; /*Quand cette ligne manquait, l'ascenseur ne s'affichait pas.*/
    background-color: white;
}

#right_column {
    padding: 20px;
}

a.list-group-item:hover, a.list-group-item:focus {
    background-color: #0d6efd;
    color: white;
}

@media screen and (max-width: 680px) {

    body section {
        flex-wrap: wrap;
    }

    #left_column, #left_column nav, #right_column {
        width: 100%;
    }

    #left_column, #left_column nav {
        height: 280px;
        position: absolute;
    }

    #left_column nav{
        border-bottom: 1px solid black;
        overflow-x: hidden;
    }

    #right_column {
        position: absolute;
        top: 280px;
    }
  }